
.fa-user-edit {
  color: #3ab5a3;
  cursor: pointer;
}

.fa-trash-alt {
  color: #d43044;
  cursor: pointer;
}

.HomeContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.accordion {
  margin: 10px 0
}

.Table {
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  font-size: 1rem;
  line-height: 1.5;
  padding: 16px;
  background-color: #464d55;
  border: solid 1px #424a51;
}

.Table-header {
  display: none;
}

.Table-row {
  width: 100%;
  border-bottom: solid 1px #727272;
}

@media (min-width: 900px) {
  .Table-row {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    border-bottom: solid 1px #727272;

  }
}

.Table-row-item {
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  padding: 0.5em;
  word-break: break-word;

  & input {
    width: 100%;
    height: fit-content;
    padding-left: 5px;
  }
}

.Table-row-item:before {
  content: attr(data-header);
  width: 30%;
  font-weight: 700;
}

@media (min-width: 900px) {
  .Table-row-item {
    padding: 0.5em;
  }
  .Table-row-item:before {
    content: none;
  }
}

.row-collection {
  overflow: auto;
  margin-right: -15px;
}